<!-- app/pods/index/template.hbs -->
{{title "Home"}}
<h1 class="ui header">
    Welcome {{currentUser}}
</h1>

{{!-- Project List Component --}}
{{user}}
{{project-list user_id=model.id}}

{{!-- OSF File-Widget Component --}}
{{!-- TODO:0 issue:3 Develop file-widget --}}
{{!-- {{file-widget preUpload=(action 'preUpload') buildUrl=(action 'buildUrl') listeners=dropzoneOptions options=dropzoneOptions}} --}}

{{!-- TODO:0 issue:4 Develop Execution Dashboard as component --}}
{{!-- Execution Dashboard Component (Needs to be developed as a component)--}}
{{!-- {{execution-dashboard}} --}}
