<!-- app/pods/institutions/detail/template.hbs -->
{{title "Institution"}}
{{link-to 'Back to list' 'institutions' class="btn btn-default"}}
<div class="panel">
    <p><label>Name: </label>{{model.name}}</p>
    <p><label>Description: </label>{{model.description}}</p>
    <p><label>Logo URL: </label>{{model.logoPath}}</p>
    <p><label>Auth URL: </label>{{model.authUrl}}</p>
    <hr>
    <p>
        <label>Projects</label>
        <p>
            <table class="table">
                {{#each model.nodes as |project|}}
                    <tr>
                        {{project.title}}
                    </tr>
                    <tr>
                        {{project.description}}
                    </tr>
                {{/each}}
            </table>
        </p>
    </p>
</div>
