<!-- app/pods/components/contrib-manager/template.hbs -->
{{!-- Project Contributors --}}
<div class="ui segments">
    <div class="ui segment">
        <div class="ui two column grid">
            <div class="column">
                <h4 class="ui header">Contributors</h4>
            </div>
            <div class="right aligned column">
                <!-- For Add Contributor Button -->
            </div>
        </div>
    </div>
    <div class="ui segment">
        <table class="ui table">
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Permissions</th>
                <th>Bibiographic</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            {{#each contributors as |contrib|}}
                <tr>
                    <td>{{contrib.id}}</td>
                    <td>{{if contrib.unregisteredContributor contrib.unregisteredContributor contrib.users.fullName}}</td>
                    <td>
                        <select class="ui selection dropdown" onchange={{action (action 'permissionChange' contrib) value='target.value'}}>
                            <option value=READ selected={{if (eq contrib.permission READ) true false}}>Read</option>
                            <option value=WRITE selected={{if (eq contrib.permission WRITE) true false}}>Read + Write</option>
                            <option value=ADMIN selected={{if (eq contrib.permission ADMIN) true false}}>Administrator</option>
                        </select>
                    </td>
                    <td>
                        <input  class="ui checkbox" onchange={{action (action 'bibliographicChange' contrib) value='target.checked'}} checked={{if contrib.bibliographic true false}} name="bibliographic" type="checkbox">
                    </td>
                    <td>
                        <button {{action 'removeContributor' contrib}} class="ui red button">
                            Remove
                        </button>
                    </td>
                </tr>
            {{/each}}
            <tr>
                <td colspan="5">
                    <button {{action 'updateContributors'}} class="ui green button">Save changes</button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>

    {{!-- Add Contributor --}}
    <div class="ui segment">
        <div class="ui form">
            <h5 class="ui header">Add contributor</h5>
            <div class="ui field">
                <label>User ID</label>
                {{input class="ui input" value=newContributorId}}
            </div>
            <div class="inline fields">
                <label for="permision">Permissions</label>
                <div class="inline field">
                    {{ui-radio name="permission" value=READ label="Read" current=newContributorPermissions}}
                </div>
                <div class="inline field">
                    {{ui-radio name="permission" value=WRITE label="Read + Write" current=newContributorPermissions}}
                </div>
                <div class="field">
                    {{ui-radio name="permission" value=ADMIN label="Administrator" current=newContributorPermissions}}
                </div>
            </div>
            <div class="inline fields">
                <label for="bibliographic">Bibliographic</label>
                <div class="field">
                    {{ui-radio name="bibliographic" value=true label="Bibliographic"
                               current=newContributorIsBibliographic}}
                </div>
                <div class="field">
                    {{ui-radio name="bibliographic" value=false label="Non-Bibliographic"
                               current=newContributorIsBibliographic}}
                </div>
            </div>
            <button {{action 'addContributor' newContributorId newContributorPermissions newContributorIsBibliographic}}
                    class="ui green button">Add</button>
        </div>
    </div>
</div>
