<!-- app/pods/users/list/template.hbs -->
{{title "Users"}}
<h2 class="ui header">Users</h2>

{{!-- User List --}}
<div class="ui four column doubling grid">
{{#each model as |user|}}
    <div class="column">
        <div class="ui fluid card">
            <div class="content">
                <div class="header">{{user.fullName}}</div>
            </div>
            <div class="content">
                <h4 class="ui sub header">Details</h4>
                <div class="ui small feed">
                    <div class="event">
                        <div class="content">
                            <label class="bold">Date Registered: </label>
                            <p>{{moment-format user.dateRegistered}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="extra content">
                <a href="{{user.links.html}}" target="_blank" class="ui blue button"> View On OSF</a>
                {{link-to 'Detail' 'users.detail' user.id class="ui orange button"}}
            </div>
        </div>
    </div>
{{/each}}
</div>

{{!-- Pagination --}}
<div class="ui segment pagination">
    {{pagination-control-ui
        currentPage=page
        pageCount=totalPages
        next=(action 'next')
        previous=(action 'previous')
        goToPage=(action 'goToPage')
    }}
</div>
