<!-- app/templates/nodes/details.hbs -->
{{link-to 'Back to list' 'nodes' class="ui breadcrumb"}}
<div class="">
    <h2 class="ui header">Project Details</h2>
    <p><label>Title: </label>{{model.title}}</p>
    <p><label>Category: </label>{{model.category}}</p>
    <p><label>Date Created: </label>{{moment-format model.dateCreated}}</p>
    <p><label>Date Modified: </label>{{moment-format model.dateModified}}</p>
    <p><label>Current User Permissions: </label>{{model.currentUserPermissions}}</p>
    <p><label>Is a Fork: </label>{{model.fork}} </p>
    <p><label>Is a Collection: </label>{{model.collection}}</p>
    <p><label>Is Registrated: </label>{{model.registration}}</p>
    <p><label>Is Public: </label>{{model.public}}</p>

    <p><label> tags: </label>{{model.tags}}</p>
    <p><label> templateFrom: </label>{{model.templateFrom}}</p>

    <p><label>Parent: </label>{{model.parent}}</p>
    <p>
        <label>Children: </label>
        {{#each model.children as |child|}}
            {{child.title}}
        {{/each}}
    </p>

    <p><label>comments: </label>{{model.comments}}</p>
    <p><label>files: </label>{{model.files}}</p>
    {{!-- <p><label>Forked From: </label>{{model.forkedFrom.title}}</p> --}}
    {{!-- <p><label>nodeLinks: </label>{{model.nodeLinks}}</p> --}}
    {{!-- <p><label>registrations: </label>{{model.registrations}}</p> --}}
    {{!-- <p><label>primaryInstitution: </label>{{model.primaryInstitution}}</p> --}}
    <p><label>root: </label>{{model.root.title}}</p>
    <!--<p><label>logs: </label>{{model.logs}}</p>-->
    <p>
        <label>Contributors</label>
        <table class="table">
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Author?
                </th>
            </tr>
            {{#each model.contributors as |contrib|}}
                <tr>
                    <td>
                        {{contrib.id}}
                    </td>
                    <td>
                        {{contrib.bibliographic}}
                    </td>
                </tr>
            {{/each}}
        </table>
    </p>
    <p>
        <a href="{{model.links.html}}" target="_blank" class="">
            View on OSF
        </a>
    </p>
    <hr>

    <h2>Edit This Node</h2>
    Title: {{input value=editedTitle}}
    <button {{action "editExisting" editedTitle}} class="">Edit Record</button>
</div>
