<!-- app/templates/nodes/index.hbs -->
<h2 class="ui header">My Projects</h2>

{{!-- Create Project Widget --}}
<div class="ui segments">
    <div class="ui segment">
        <div class="ui two column stackable grid">
            <div class="column">
                <label class="bold">Title:</label>
                <div class="ui fluid input">
                    {{input type="text" value=title placeholder="Project Title" required=true}}
                </div>
            </div>
            <div class="column">
                <label class="bold">Description (optional):</label>
                <div class="ui fluid input">
                    {{input type="text" value=description placeholder="Project Description"}}
                </div>
            </div>
        </div>
    </div>
    <div class="ui secondary segment">
        <div class="row">
            <div class="column">
                <button type="button" {{action 'createNode' title description}} class="ui green button">Create Project</button>
            </div>
        </div>
    </div>
    {{#if responseSuccess}}
        <div class="ui bottom attached success message create-project">
            <i class="close icon" {{action 'closeMessage'}}></i>
            {{responseSuccess}}
        </div>
    {{else}}
        {{#if responseError}}
        <div class="ui bottom attached error message create-project">
            <i class="close icon" {{action 'closeMessage'}}></i>
            {{responseError}}
        </div>
        {{/if}}
    {{/if}}
</div>

{{!-- Project List Widget --}}
<div class="ui three column stackable grid">
    {{#each model as |node|}}
        <div class="ui column">
            <div class="ui segments">
                <div class="ui segment">
                    <label class="bold">Title: </label>{{node.title}}<br />
                    <label class="bold">Category: </label>{{node.category}}<br />
                    <label class="bold">Date Created: </label>{{moment-format node.dateCreated}}<br />
                    <label class="bold">Date Modified: </label>{{moment-format node.dateModified}}
                </div>
                <div class="ui secondary segment">
                    <div class="ui buttons">
                        <a href="{{node.links.html}}" target="_blank" class="ui green button">
                            View on OSF
                        </a>
                        {{link-to 'Detail' 'nodes.detail' node.id class="ui primary button"}}
                        <button class="ui red button" {{action 'requestDelete' node delete-project}}>
                            Delete
                        </button>
                    </div>
                </div>
            </div>
        </div>
    {{/each}}
</div>

{{!-- Project List Widget Modal --}}
{{#ui-modal name="delete-project" class="delete-project" onApprove=(action 'confirmDelete') onDeny=(action 'cancelDelete')}}
    <i class="close icon"></i>
    <div class="header">
        Delete Project?
    </div>
    <div class="content">
        <p>Are you sure you want to delete this project: {{node.title}}?</p>
    </div>
    <div class="actions">
        <button class="ui black cancel button">
            Cancel
        </button>
        <button class="ui red approve right labeled icon button">
            Delete?
            <i class="checkmark icon"></i>
        </button>
    </div>
{{/ui-modal}}
