<!-- app/templates/nodes/index.hbs -->
<h2 class="ui header">My Projects</h2>

{{!-- Create Project Widget --}}
<div class="ui segments">
    <div class="ui segment">
        <div class="ui two column stackable grid">
            <div class="column">
                <label class="bold">Title:</label>
                <div class="ui fluid input">
                    {{input type="text" value=title placeholder="Project Title" required=true}}
                </div>
            </div>
            <div class="column">
                <label class="bold">Description (optional):</label>
                <div class="ui fluid input">
                    {{input type="text" value=description placeholder="Project Description"}}
                </div>
            </div>
        </div>
    </div>
    <div class="ui secondary segment">
        <div class="row">
            <div class="column">
                <button type="button" {{action 'createNode' title description}} class="ui green button">Create Project</button>
            </div>
        </div>
    </div>
    {{#if responseSuccess}}
        <div class="ui bottom attached success message create-project">
            <i class="close icon" {{action 'closeMessage'}}></i>
            {{responseSuccess}}
        </div>
    {{else}}
        {{#if responseError}}
        <div class="ui bottom attached error message create-project">
            <i class="close icon" {{action 'closeMessage'}}></i>
            {{responseError}}
        </div>
        {{/if}}
    {{/if}}
</div>
