<h4> My Nodes </h4>
<button {{action "createNew"}} class="">Create Record</button>

{{#each model as |node|}}
<hr />
<div class="">
  <p><label>Title: </label>{{node.title}}</p>
  <p><label>Category: </label>{{node.category}}</p>
  <p><label>Date Created: </label>{{moment-format node.dateCreated}}</p>
  <p><label>Date Modified: </label>{{moment-format node.dateModified}}</p>
  <p class="">
    <a href="{{node.links.html}}" target="_blank" class="">
      View on OSF
    </a>
    {{link-to 'Detail' 'nodes.detail' node.id class=""}}
  </p>
</div>
{{/each}}
