<!-- app/templates/nodes/index.hbs -->
<h2 class="ui header">My Projects</h2>
<div>
  <label>Title:</label>
  {{input type="text" value=title placeholder="Project Title" required=true}}
  <label>Description (optional):</label>
  {{input type="text" value=description placeholder="Project Description"}}
  <p><button {{action "createNode" title description}}>Create Project</button></p>
</div>

{{#each model as |node|}}
    <div class="ui segments">
        <div class="ui segment">
            <label class="bold">Title: </label>{{node.title}}<br />
            <label class="bold">Category: </label>{{node.category}}<br />
            <label class="bold">Date Created: </label>{{moment-format node.dateCreated}}<br />
            <label class="bold">Date Modified: </label>{{moment-format node.dateModified}}
        </div>
        <div class="ui segment">
            <div class="ui buttons">
                <a href="{{node.links.html}}" target="_blank" class="ui green button">
                    View on OSF
                </a>
                {{link-to 'Detail' 'nodes.detail' node.id class="ui primary button"}}
            </div>
        </div>
    </div>
{{/each}}
