<!-- app/pods/profile/template.hbs -->
{{title model.fullName}}
<h2>Profile Information</h2>
<div class="panel">
    <p><label>Full Name: </label>{{model.fullName}}</p>
    <p><label>Given Name: </label>{{model.givenName}}</p>
    <p><label>Middle Name: </label>{{model.middleName}}</p>
    <p><label>Family Name: </label>{{model.familyName}}</p>

    <p><a href="{{model.links.html}}" target="_blank" class="ui blue button">View on OSF</a></p>
    <hr>

    <h2>Edit Your Profile</h2>
    <p><label>Full Name: </label>{{input value=editedFullName}}</p>
    <button {{action "editExisting" editedFullName}} class="ui green button">Edit Record</button>
</div>
