<!-- app/pods/application/template.hbs -->
{{title "OSF"}}
{{!-- <div class="context"> --}}
    {{!-- {{partial 'sidebar'}} --}}
    {{!-- <div class="pusher"> --}}
        {{partial 'navbar'}}
        <div class="ui basic page segment" role="main">
            {{outlet}}
        </div>
        {{osf-footer}}
        {{osf-copyright}}
        {{osf-mode-footer}}
    {{!-- </div> --}}
{{!-- </div> --}}
