<!-- app/pods/projects/detail/template.hbs -->
{{!-- Breadcrumbs and buttons --}}
<div class="ui two column doubling grid">
    <div class="column">
        <div class="ui breadcrumb">
            <i class="left angle icon divider"></i>
            {{#link-to 'projects' class="section"}}
                Back to Projects List
            {{/link-to}}
        </div>
    </div>

    <div class="right aligned column">
        {{!-- View on OSF Button --}}
        <a href="{{model.links.html}}" target="_blank" class="ui blue button">
            View on OSF
        </a>

        {{!-- Edit Project Button --}}
        {{#if propertiesVisible}}
            <button {{action "expandProperties"}} class="ui green button">
                Close Project Settings
            </button>
            <table>
                <tr>
                    <td><label> Title: </label></td>
                    <td>{{input value=editedTitle}}</td>
                </tr>
                <tr>
                    <td><label> Description: </label></td>
                    <td>{{input value=editedDescription}} </td>
                </tr>
            </table>
            <p><label> Category: </label></p>
            <div>
                <p>{{radio-button name="category" value="analysis" checked=editedCategory}} Analysis </p>
                <p>{{radio-button name="category" value="communication" checked=editedCategory}} Communication </p>
                <p>{{radio-button name="category" value="data" checked=editedCategory}} Data </p>
                <p>{{radio-button name="category" value="hypothesis" checked=editedCategory}} Hypothesis </p>
                <p>{{radio-button name="category" value="instrumentation" checked=editedCategory}} Instrumentation </p>
                <p>{{radio-button name="category" value="methods and measures" checked=editedCategory}} Methods and Measures </p>
                <p>{{radio-button name="category" value="procedure" checked=editedCategory}} Procedure </p>
                <p>{{radio-button name="category" value="project" checked=editedCategory}} Project </p>
                <p>{{radio-button name="category" value="software" checked=editedCategory}} Software</p>
                <p>{{radio-button name="category" value="other" checked=editedCategory}} Other </p>
                <p>{{radio-button name="category" value="uncategorized" checked=editedCategory}} Uncategorized </p>
            </div>
            <p><label> Privacy settings </label></p>
            {{radio-button name="isPublic" value=1 checked=isPublic}} Public
            {{radio-button name="isPublic" value=0 checked=isPublic}} Private

            <button {{action "editExisting" editedTitle editedDescription editedCategory isPublic}} class="ui green button"> Save changes </button>
        {{else}}
            <button {{action "expandProperties"}} class="ui teal button">
                Edit project settings
            </button>
        {{/if}}

        {{!-- Request Delete Project Button --}}
        {{!-- <button class="ui orange button" {{action 'requestDelete' model delete-project}}>
            <i class="warning icon"></i>
            Delete this Project
        </button> --}}
        {{project-delete project=model name='delete-project' transitionTo='transitionToProjectList'}}
        {{!-- Destroy Project Button --}}
        <button class="ui red button" {{action "destroyProject"}}>
            <i class="warning icon"></i>
            Destroy this Project
        </button>
    </div>
</div>

{{!-- Project Summary --}}
<div class="ui segments">
    <div class="ui segment">
        <div class="ui two column grid">
            <div class="column">
                <h3 class="ui header">{{model.title}}</h3>
            </div>
            <div class="right aligned column">
                {{#if model.public}}
                    <a class="ui teal label">Public</a>
                {{else}}
                    <a class="ui red label">Private</a>
                {{/if}}
            </div>
        </div>
    </div>
    <div class="ui segment">
        <span class="bold">Date Created: </span>{{moment-format model.dateCreated}}<br />
        <span class="bold">Date Modified: </span>{{moment-format model.dateModified}}<br />
        <span class="bold">Category: </span>{{model.category}}<br />
        <span class="bold">Description: </span>{{model.description}}<br />
    </div>
    {{!-- {{#tags-widget addATag=(action 'addATag') removeATag=(action 'removeATag') tags=model.tags}}
    {{/tags-widget}} --}}
</div>

{{!-- Project Contributors --}}
<div class="ui segments">
    <div class="ui segment">
        <div class="ui two column grid">
            <div class="column">
                <h4 class="ui header">Contributors</h4>
            </div>
            <div class="right aligned column">
                <!-- For Add Contributor Button -->
            </div>
        </div>
    </div>
    <div class="ui segment">
        <table class="ui table">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Permissions</th>
                    <th>Bibiographic</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                {{#each model.contributors as |contrib|}}
                    <tr>
                        <td>{{contrib.id}}</td>
                        <td>{{if contrib.unregisteredContributor contrib.unregisteredContributor contrib.users.fullName}}</td>
                        <td>
                            <select class="ui selection dropdown" onchange={{action "permissionChange" value="target.value" bubbles=true}}>
                                <option value="read {{contrib.id}}" selected={{permissionHelper contrib.permission "read"}}>Read</option>
                                <option value="write {{contrib.id}}" selected={{permissionHelper contrib.permission "write"}}>Read + Write</option>
                                <option value="admin {{contrib.id}}" selected={{permissionHelper contrib.permission "admin"}}>Administrator</option>
                            </select>
                        </td>
                        <td>
                            {{ui-checkbox onchange=(action "bibliographicChange" value="target") checked='bibliographicHelper contrib.bibliographic' name="bibliographic" value=contrib.id}}
                        </td>
                        <td>
                            <button {{action "deleteContributor" contrib}} class="ui red button">
                                Remove
                            </button>
                        </td>
                    </tr>
                {{/each}}
                <tr>
                    <td colspan="5">
                        <button {{action "updateContributors" editedPermissions editedBibliographic}} class="ui green button"> Save changes </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    {{!-- Add Contributor --}}
    <div class="ui segment">
        <div class="ui form">
            <h5 class="ui header">Add contributor</h5>
            <div class="ui field">
                <label>User ID</label>
                {{input class="ui input" value=contributorID}}
            </div>
            <div class="inline fields">
                <label for="permision">Permissions</label>
                <div class="inline field">
                    {{ui-radio name="permission" value="read" label="Read" checked=contributorPermissions}}
                </div>
                <div class="inline field">
                    {{ui-radio name="permission" value="write" label="Read + Write" checked=contributorPermissions}}
                </div>
                <div class="field">
                    {{ui-radio name="permission" value="admin" label="Administrator" checked=contributorPermissions}}
                </div>
            </div>
            <div class="inline fields">
                <label for="bibliographic">Bibliographic</label>
                <div class="field">
                    {{ui-radio name="bibliographic" value=1 label="Bibliographic" checked=bibliographic}}
                </div>
                <div class="field">
                    {{ui-radio name="bibliographic" value=0 label="Non-Bibliographic" checked=bibliographic}}
                </div>
            </div>
            <button {{action "addContributor" contributorID contributorPermissions bibliographic}} class="ui green button">Add</button>
        </div>
    </div>
</div>

{{!-- Recent Activity --}}
{{log-detail model-logs=model.logs}}

{{!-- Create Child Project --}}
<div class="ui segments">
    <div class="ui segment">
        <h4 class="ui header">Create Child Project</h4>
    </div>

    <div class="ui segment">
        <div class="ui form">
            <div class="field">
                <label for="title">Title:</label>
                {{input type="text" value=title placeholder="Child Project's Title" required=true}}
            </div>
            <div class="field">
                <label for="description">Description (optional):</label>
                {{input type="text" value=description placeholder="Child Project's Description"}}
            </div>
            <div class="field">
                <label for="category">Category (optional):</label>
                {{#ui-dropdown class="selection"}}
                    <div class="default text">
                        Select Category
                    </div>

                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <option class="item" name="category" value="analysis">Analysis</option>
                        <option class="item" name="category" value="communication">Communication</option>
                        <option class="item" name="category" value="data">Data</option>
                        <option class="item" name="category" value="hypothesis">Hypothesis</option>
                        <option class="item" name="category" value="instrumentation">Instrumentation</option>
                        <option class="item" name="category" value="methods and measures">Methods and Measures</option>
                        <option class="item" name="category" value="procedure">Procedure</option>
                        <option class="item" name="category" value="software">Software</option>
                        <option class="item" name="category" value="other">Other</option>
                        <option class="item" name="category" value="uncategorized">Uncategorized</option>
                    </div>
                {{/ui-dropdown}}
            </div>
            <button {{action "addChild" title description category }} class="ui green button">Create</button>
        </div>
    </div>
    {{!-- Create Multiple Child Projects --}} <!-- TODO: Is this necessary? -->
    {{!-- <div class="ui segment">
        <h4 class="ui header">Create Multiple Child Projects (Bulk)</h4>
    </div>
    <div class="ui segment">
        <h5 class="ui header">First Component</h5>
        <label>Title:</label>
        {{input type="text" value=child1 placeholder="Component's title" required=true}}
        <h5 class="ui header">Second Component</h5>
        <label>Title:</label>
        {{input type="text" value=child2 placeholder="Component's title" required=true}}
        <p><button {{action "addChildren" child1 child2 }}>Create</button></p>
    </div> --}}
</div>


<div class="ui segments">
    <hr />
    <hr />
    <hr />
    <div class="ui segment">
        <h4 class="ui header">Files</h4>
    </div>
    <div class="ui segment">
        {{link-to 'View Files' 'projects.detail.files' model class='ui blue button'}}
    </div>
    <hr>
    <hr>
    <hr>
</div>

{{!-- Project Delete Widget Modal --}}
{{!-- {{#ui-modal name="delete-project" class="delete-project" onApprove=(action 'confirmDelete') onDeny=(action 'cancelDelete')}}
    <i class="close icon"></i>
    <div class="header">
        Delete Project?
    </div>
    <div class="content">
        <p>Are you sure you want to delete this project: {{project.title}}?</p>
    </div>
    <div class="actions">
        <button class="ui black cancel button">
            Cancel
        </button>
        <button class="ui red approve right labeled icon button">
            Delete?
            <i class="checkmark icon"></i>
        </button>
    </div>
{{/ui-modal}} --}}

{{outlet}} <!-- FIXME: Shouldn't Need this-->
{{partial 'comment-section'}}

{{!-- TODO: Will work on all that follows later --}}
{{!-- <div>
    <h2>Project links </h2>
    <table class="table">
        <tr>
            <th> Id </th>
            <th> Name </th>
            <th> </th>
        </tr>
        {{#each model.nodeLinks as |projectlink|}}
            <tr>
                <td> {{projectlink.targetNode.id}} </td>
                <td> {{link-to projectlink.targetNode.title 'projects.detail' projectlink.targetNode.id}} </td>
                <td> <button {{action "removeProjectLink" projectlink}} class="btn btn-danger"> Remove </button> </td>
            </tr>
        {{/each}}
    </table>

    <hr>

    <h3>Add link</h3>
    <label> Target project id </label> {{input value=targetProjectId}}
    <button {{action "addProjectLink" targetProjectId}} class="btn btn-primary">Add</button>
</div>

<div>
    <hr>
    <h2>Affiliated Institutions</h2>
    <p>
        <table class="table">
            {{#each model.affiliatedInstitutions as |inst|}}
                <tr>
                    <td>
                        {{inst.name}}
                    </td>
                    <td>
                        <button {{action "deaffiliateProject" inst}}>Unaffiliate</button>
                    </td>
                </tr>
            {{/each}}
        </table>
        <h4>Add Institution</h4>
        Institution Id {{input value=instId}}
        <button {{action "affiliateProject" instId}} class="btn btn-primary">Affiliate Project</button>
    </p>
</div> --}}
