<!-- app/pods/components/project-create.hbs -->
{{!-- Create Project Button Widget --}}
<button class="ui green button" {{action 'requestCreate' create-project}}>
    Create Project
</button>

{{!-- Create Project Modal Widget --}}
{{#ui-modal name="create-project" class="create-project" onApprove=(action 'confirmCreate') onDeny=(action 'cancelCreate')}}
    <div class="header">
        Create Project?
    </div>
    <div class="ui segments">
        <div class="ui segment">
            <div class="ui two column stackable grid">
                <div class="column">
                    <label class="bold">Title:</label>
                    <div class="ui fluid input">
                        {{input type="text" value=title placeholder="Project Title" required=true}}
                    </div>
                </div>
                <div class="column">
                    <label class="bold">Description (optional):</label>
                    <div class="ui fluid input">
                        {{input type="text" value=description placeholder="Project Description"}}
                    </div>
                </div>
            </div>
        </div>
        <div class="ui segment">
            <div class="actions">
                <button class="ui black cancel button">
                    Cancel
                </button>
                <button class="ui green approve right labeled icon button" {{action 'responseMessage' response-message}}>
                    Create
                    <i class="checkmark icon"></i>
                </button>
            </div>
        </div>
    </div>
{{/ui-modal}}

{{#ui-modal name="response-message" class="response-message small"}}
    {{!-- Response Messages --}}
    {{#if responseSuccess}}
        <div class="ui green header">
            Success!
        </div>
        <div class="content">
            {{responseSuccess}}
        </div>
    {{else if responseError}}
        <div class="ui red header">
            Warning!
        </div>
        <div class="content">
            {{responseError}}
        </div>
    {{/if}}
{{/ui-modal}}
