<!-- app/templates/index.hbs -->
<div class="ui buttons">
    {{link-to 'My Projects' 'nodes' class="ui green button"}}
    {{link-to 'My Registrations' 'registrations' class="ui green button"}}
    {{link-to 'All Institutions' 'institutions' class="ui green button"}}
    {{link-to 'Users' 'users' class="ui green button"}}
    {{link-to 'Collections' 'collections' class="ui green button"}}
</div>
