<!-- app/templates/index.hbs -->

<div class="ui buttons">
</div>
<!-- Total Projects -->
<div class="ui segment">
    <p><label class="bold">Total Projects:</label> {{model.length}}</p>
</div>

{{outlet 'project-list'}}

<!-- Execution Dashboard -->
<div class="ui segment">
    <h4 class="ui header">Execution Dashboard</h4>
    <!-- Three Column Grid -->
    <div class="ui two column very relaxed grid form">
        <!-- Column One -->
        <div class="ui column">
            <div class="field">
                <label class="bold">Data </label>
                <select class="ui fluid dropdown">
                    {{#each model as |node|}}
                        {{#each node.files as |provider|}}
                            {{#each provider.files as |file|}}
                                <option value="{{file.path}}">
                                    {{file.name}} ({{file.provider}})
                                </option>
                            {{/each}}
                        {{/each}}
                    {{/each}}
                </select>
            </div>

            <div class="field">
                <label class="bold">Mode </label>
                <select class="ui fluid dropdown">
                    <option value="Execute Script"> Execute Script </option>
                    <option value="Run Notebook"> Run Notebook </option>
                </select>
            </div>

            <!-- Run and Reset -->
            <div class="ui buttons">
                <button type="button" class="ui green button">
                    Run <i class="ui play icon"></i>
                </button>
                <button type="button" class="ui red button">
                    Reset <i class="ui eject icon"></i>
                </button>
            </div>
        </div>

        <!-- Column Two -->
        <div class="ui column">
            <div class="field">
                <label class="bold">Script </label>
                <select class="ui fluid dropdown">
                    {{#each model as |node|}}
                        {{#each node.files as |provider|}}
                            {{#each provider.files as |file|}}
                                <option value="{{file.path}}">
                                    {{file.name}} ({{file.provider}})
                                </option>
                            {{/each}}
                        {{/each}}
                    {{/each}}
                </select>
            </div>
            <div class="field">
                <label class="bold">Status </label>
                <div class="input-status ready">
                    Ready
                </div>
            </div>
        </div>
    </div>
</div>

{{!-- {{#each model as |node|}}
    <hr />
    <div class="panel">
        <p><label>Title: </label>{{node.title}}</p>
        <p><label>Description: </label>{{node.description}}</p>
        <p><label>Category: </label>{{node.category}}</p>

        <p><label> urrent User Permissions: </label> {{node.currentUserPermissions}} </p>

        <p><label>Is a Fork: </label>{{node.fork}}</p>
        <p><label>Is a Collection: </label>{{node.collection}}</p>
        <p><label>Is Registered: </label>{{node.registration}}</p>
        <p><label>Is Public: </label>{{node.public}}</p>

        <p><label>Date Created: </label>{{moment-format node.dateCreated}}</p>
        <p><label>Date Modified: </label>{{moment-format node.dateModified}}</p>

        <p>
            <label>Tags: </label>
            {{#each node.tags as |tag|}}
                {{tag}}
            {{/each}}
        </p>

        {{!-- <<p><label> templateFrom: </label> {{node.templateFrom}} </p> --}}
        {{!-- {{#if node.parent}}
            <p><label>Parent: </label>{{node.parent.title}}</p>
        {{/if}}

        {{#if node.children}}
            <p>
                <label>Children: </label>
                {{#each node.children as |child|}}
                    {{child.title}}
                {{/each}}
            </p>
        {{/if}} --}}

        {{!-- <p><label> comments: </label> {{node.comments}} </p> --}}
        {{!-- <p><label> contributors: </label> {{node.contributors}} </p> --}}


        {{!-- <p><label>Files: </label></p>
        {{#each node.files as |file|}}
            <div class="col-md-1"></div><p><label>Node ID: </label>{{file.node.id}}</p>
            <div class="col-md-1"></div><p><label>Name: </label>{{file.name}}</p>
            <div class="col-md-1"></div><p><label>Path: </label>{{file.path}}</p>
            <div class="col-md-1"></div><p><label>Materialized Path: </label> {{file.materializedPath}}</p>
            <div class="col-md-1"></div><p><label>Kind: </label>{{file.kind}}</p>
            <div class="col-md-1"></div><p><label>ETag: </label>{{file.etag}}</p>
            <div class="col-md-1"></div><p><label>Provider: </label>{{file.provider}}</p> --}}

            {{!-- <div class="col-md-1"></div><p><label> Extra: </label></p> --}}

            {{!-- {{#each-in file.extra as |attribute|}}
                <div class="col-md-2"></div><p><label> Attribute: </label> {{attribute}}</p>
            {{/each-in}} --}}

            {{!-- {{#if (eq file.kind "folder")}}
                <div class="col-md-1"></div><p><label>Child Files: </label></p>

                {{#each file.files as |child_file|}}
                    <div class="col-md-2"></div><p><label>Child File: </label></p>

                    <div class="col-md-3"></div>
                    <p>
                        <a id="{{child_file.path}}" href="https://staging-files.osf.io/v1/resources/{{file.node}}/providers/{{child_file.provider}}{{child_file.path}}"> Download File </a>
                    </p>
                    <div class="col-md-3"></div><p><label>Node ID: </label>{{child_file.node}}</p>
                    <div class="col-md-3"></div><p><label>Name: </label>{{child_file.name}}</p>
                    <div class="col-md-3"></div><p><label>Path: </label>{{child_file.path}}</p>
                    <div class="col-md-3"></div><p><label>Materialized Path: </label>           {{child_file.materializedPath}}</p>
                    <div class="col-md-3"></div><p><label>Kind: </label>{{child_file.kind}}</p>
                    <div class="col-md-3"></div><p><label>ETag: </label>{{child_file.etag}}</p>
                    <div class="col-md-3"></div><p><label>Date Modified: </label>{{child_file.dateModified}}</p>
                    <div class="col-md-3"></div><p><label>Date Created: </label>{{child_file.dateCreated}}</p>
                    <div class="col-md-3"></div><p><label>Provider: </label>{{child_file.provider}}</p>
                {{/each}}
            {{else}}
                <div class="col-md-1"></div><p><label>Date Modified: </label>{{file.dateModified}}</p>
                <div class="col-md-1"></div><p><label>Date Created: </label>{{file.dateCreated}}</p>
                <div class="col-md-1"></div><p><label>Content Type: </label>{{file.contentType}}</p>
                <div class="col-md-1"></div><p><label>Size: </label>{{file.size}}</p> --}}

                {{!-- {{file.extra.content}}<br> --}}
                {{!-- {{file.extra.version}}<br> --}}
                {{!-- {{file.extra.downloads}}<br> --}}
            {{!-- {{/if}} --}}

        {{!-- {{/each}} --}}

        {{!-- <p><label> Forked From: </label> {{node.forkedFrom}} </p> --}}
        {{!-- <p><label> nodeLinks: </label> {{node.nodeLinks}} </p> --}}
        {{!-- <p><label> registrations: </label> {{node.registrations}} </p> --}}
        {{!-- <p><label> primaryInstitution: </label> {{node.primaryInstitution}} </p> --}}
        {{!-- <p><label> root: </label> {{node.root}} </p> --}}
        {{!-- <p><label> logs: </label> {{node.logs}} </p> --}}
    {{!-- </div> --}}
{{!-- {{/each}} --}}
